body
{
 background-color: #e6ffff;
}


#gora
{
	padding: 5px;
}

#top
{
	padding: 5px;
}

#stu
{
        background-color: #ccffff;
	padding: 5px;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

#tytul
{
  text-align: center;
}

#logo
{
  margin-left:auto;
  margin-right:auto;
  text-align: left;
}


#menu
{
        background-color: #ccffff;
	color: black;
	padding: 10px;
	text-align: center;
	clear: both;
	letter-spacing: -0.5px;
	font-weight:bold;
	border-bottom: 1px solid black;
}

#brus
{
	padding: 5px;
}

.inline
{
	border-bottom: 2px solid black;
	text-align: center;
	clear: both;
	display: block;
	width: 100%;
	margin-top: 10px;
}

.naglowek
{
	width:30%;
	height: 30px;
	float: left;
	margin-left: 2.2%;
}

.naglowek2
{
	width:30%;
	height: 30px;
	float: left;
	margin-left: 2.2%;
}

.zdjecie
{
	width:30%;
	height: auto;
	float: left;
	margin-left: 2.2%;
}

.clear
{
	clear: both;
}


.gal
{
	text-align: center;
	clear: both;
	display: block;
	width: 100%;
	margin-top: 10px;
}

.zdjecie1
{
	width:15%;
	height: auto;
	float: left;
	margin-left: 2.2%;
}

#footer
{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 10px;
}



ol,ul
{
	padding:0;
	margin: 0;
	list-style-type: none;
	font-size: 17px;
	height: 35%;
	line-height: 200%;
	display: inline-block;
	height:auto;
	margin-top: 5px;
	margin-bottom: auto;
}

ol a
{
	text-decoration: none;
	display: block;
	color: white;
}

ol > li
{
	float: left;
	width: 115px;
	height: 35px;
}


ol > li:hover
{
	background-color: orange;
	cursor: pointer;
}

ol>li>a
{
  color: black;
}

ol>li:hover>a
{
  color: black;
}
